<div class="row">
<div class="col s10 offset-s1">

<h4 class="center-align"><img src= "http://i.imgur.com/H9nWN5m.png"/><br>Watson is ready to see you...</h4>
</div>
</div>

<div class="row">
<div class="col s10 offset-s1">
    <input type="text" style="font-size:22px" name="twitter-handle" Placeholder="@twitter_handle" id="get-twitter-handle">
      <button class="waves-effect waves-light blue btn" style="display: block; margin: auto" type="button" id="analyze-tweets">Analyze Tweets</button>
      <br>
<%# loading icon begin%>
      <div id="loading-icon" class="preloader-wrapper small active" style="display: none; margin: auto">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
<%# loading icon end%>
      <div id="graph-big5" style="display: inline-block; margin: auto"></div>

      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 id="modal-header"></h4>
          <p id="modal-paragraph"></p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
        </div>
      </div>

      <div id="graph-values" style="display: inline-block; margin: auto"></div>

      <div id="graph-needs" style="display: inline-block; margin: auto"></div>

      <br>
      <div id="profile-button-div"></div>
      <button class="waves-effect waves-light blue btn" style="display: none; margin: auto" type="button" id="display-full-data">Display Complete Profile Data</button>
      <div><p id="result"></p></div>
      <br>
      <div id="tweet-button-div"></div>
      <button class="waves-effect waves-light blue btn" style="display: none; margin: auto" type="button" id="display-full-tweets">Display Tweet Data</button>
      <div><p id="tweet-result"></p></div>

  </div>
</div>

<script type="text/javascript">

  var $analyzeTweets = $('#analyze-tweets')
  var $result = $('#result')
  var $tweetResult = $('#tweet-result')
  var $twitterHandle = $('#get-twitter-handle')
  var $graphValues = $('#graph-values')
  var $graphBig5 = $('#graph-big5')
  var $graphNeeds = $('#graph-needs')
  var $fullTweets = $('#display-full-tweets')
  var $fullData = $('#display-full-data')

//loading icon logic begin//
var $loadingIcon = $('#loading-icon')
function displayLoading() {
  $loadingIcon.css("display", "block")
}
function hideLoading() {
  $loadingIcon.slideUp(400, function(){$loadingIcon.css("display", "none")})
}
//loading icon end//

/// -begin- Display Numerical List of Profile Data //
  function displayAnalysis(data) {
    //BIG 5 PERSONALITY TRAITS
    $result.append("<strong>Big Five Personality Traits</strong><br>")
    $result.append("Openness: " + data.big5personality.openness.toFixed(2) + "<br>")
    $result.append("Conscientiousness: " + data.big5personality.conscientiousness.toFixed(2) + "<br>")
    $result.append("Extraversion: " + data.big5personality.extraversion.toFixed(2) + "<br>")
    $result.append("Agreeableness: " + data.big5personality.agreeableness.toFixed(2) + "<br>")
    $result.append("Emotional Range: " + data.big5personality.emotionalRange.toFixed(2) + "<br><br>")
    //Breakdown of openness
    $result.append("<strong>Big Five Subcategory: Openness Breakdown</strong><br>")
    $result.append("Adventurousness: " + data.opennessBreakdown.adventurousness.toFixed(2) + "<br>")
    $result.append("Artistic Interests: " + data.opennessBreakdown.artisticInterests.toFixed(2) + "<br>")
    $result.append("Emotionality: " + data.opennessBreakdown.emotionality.toFixed(2) + "<br>")
    $result.append("Imagination: " + data.opennessBreakdown.imagination.toFixed(2) + "<br>")
    $result.append("Intellect: " + data.opennessBreakdown.intellect.toFixed(2) + "<br>")
    $result.append("Authority Challenging: " + data.opennessBreakdown.authorityChallenging.toFixed(2) + "<br><br>")
    //Breakdown of conscientiousness
    $result.append("<strong>Big Five Subcategory: Conscientiousness Breakdown</strong><br>")
    $result.append("Achievement Striving: " + data.conscientiousnessBreakdown.achievementStriving.toFixed(2) + "<br>")
    $result.append("Cautiousness: " + data.conscientiousnessBreakdown.cautiousness.toFixed(2) + "<br>")
    $result.append("Dutifulness: " + data.conscientiousnessBreakdown.dutifulness.toFixed(2) + "<br>")
    $result.append("Orderliness: " + data.conscientiousnessBreakdown.orderliness.toFixed(2) + "<br>")
    $result.append("Self Discipline: " + data.conscientiousnessBreakdown.selfDiscipline.toFixed(2) + "<br>")
    $result.append("Self Efficacy: " + data.conscientiousnessBreakdown.selfEfficacy.toFixed(2) + "<br><br>")
    //Breakdown of extraversion
    $result.append("<strong>Big Five Subcategory: Extraversion Breakdown</strong><br>")
    $result.append("Activity Level: " + data.extraversionBreakdown.activityLevel.toFixed(2) + "<br>")
    $result.append("Assertiveness: " + data.extraversionBreakdown.assertiveness.toFixed(2) + "<br>")
    $result.append("Cheerfulness: " + data.extraversionBreakdown.cheerfulness.toFixed(2) + "<br>")
    $result.append("Excitement Seeking: " + data.extraversionBreakdown.excitementSeeking.toFixed(2) + "<br>")
    $result.append("Outgoing: " + data.extraversionBreakdown.outgoing.toFixed(2) + "<br>")
    $result.append("Gregariousness: " + data.extraversionBreakdown.gregariousness.toFixed(2) + "<br><br>")
    //Breakdown of agreeableness
    $result.append("<strong>Big Five Subcategory: Agreeableness Breakdown</strong><br>")
    $result.append("Altruism: " + data.agreeablenessBreakdown.altruism.toFixed(2) + "<br>")
    $result.append("Cooperation: " + data.agreeablenessBreakdown.cooperation.toFixed(2) + "<br>")
    $result.append("Modesty: " + data.agreeablenessBreakdown.modesty.toFixed(2) + "<br>")
    $result.append("Uncompromising: " + data.agreeablenessBreakdown.uncompromising.toFixed(2) + "<br>")
    $result.append("Sympathy: " + data.agreeablenessBreakdown.sympathy.toFixed(2) + "<br>")
    $result.append("Trust: " + data.agreeablenessBreakdown.trust.toFixed(2) + "<br><br>")
    //Breakdown of emotional range
    $result.append("<strong>Big Five Subcategory: Emotional Range Breakdown</strong><br>")
    $result.append("Fiery: " + data.emotionalRangeBreakdown.fiery.toFixed(2) + "<br>")
    $result.append("Prone To Worry: " + data.emotionalRangeBreakdown.proneToWorry.toFixed(2) + "<br>")
    $result.append("Melancholy: " + data.emotionalRangeBreakdown.melancholy.toFixed(2) + "<br>")
    $result.append("Immoderation: " + data.emotionalRangeBreakdown.immoderation.toFixed(2) + "<br>")
    $result.append("Self Consciousness: " + data.emotionalRangeBreakdown.selfConsciousness.toFixed(2) + "<br>")
    $result.append("Susceptible To Stress: " + data.emotionalRangeBreakdown.susceptibleToStress.toFixed(2) + "<br><br>")
    //NEEDS
    $result.append("<strong>Needs</strong><br>")
    $result.append("Challenge: " + data.needs.challenge.toFixed(2) + "<br>")
    $result.append("Closeness: " + data.needs.closeness.toFixed(2) + "<br>")
    $result.append("Curiosity: " + data.needs.curiosity.toFixed(2) + "<br>")
    $result.append("Excitement: " + data.needs.excitement.toFixed(2) + "<br>")
    $result.append("Harmony: " + data.needs.harmony.toFixed(2) + "<br>")
    $result.append("Ideal: " + data.needs.ideal.toFixed(2) + "<br>")
    $result.append("Liberty: " + data.needs.liberty.toFixed(2) + "<br>")
    $result.append("Love: " + data.needs.love.toFixed(2) + "<br>")
    $result.append("Practicality: " + data.needs.practicality.toFixed(2) + "<br>")
    $result.append("Self Expression: " + data.needs.selfExpression.toFixed(2) + "<br>")
    $result.append("Stability: " + data.needs.stability.toFixed(2) + "<br>")
    $result.append("Structure: " + data.needs.structure.toFixed(2) + "<br><br>")
    //VALUES
    $result.append("<strong>Values</strong><br>")
    $result.append("Conservation: " + data.values.conservation.toFixed(2) + "<br>")
    $result.append("Openness To Change: " + data.values.opennessToChange.toFixed(2) + "<br>")
    $result.append("Hedonism: " + data.values.hedonism.toFixed(2) + "<br>")
    $result.append("Self Enhancement: " + data.values.selfEnhancement.toFixed(2) + "<br>")
    $result.append("Self Transcendence: " + data.values.selfTranscendence.toFixed(2) + "<br><br>")
    }
/// -end- Display Numerical List of Profile Data //

/// Analyze Tweets Button -- contains logic for querying Twitter API, sending it to the Watson,
/// saving the data to MongoDB and then rendering graphs in the view
  $analyzeTweets.on('click', function(){
    console.log("Ajax call to the twitter API.")
    displayLoading()
    $result.text("")
    $tweetResult.text("")
    $graphBig5.html("")
    $graphValues.html("")
    $graphNeeds.html("")
    $fullTweets.hide()
    $fullTweets.text("Display Tweet Data")
    $fullData.hide()
    $fullData.text("Display Complete Profile Data")
    compiledTweet = ""
    // console.log(compiledTweet + "test")
    $
      .ajax({
        method: 'get',
        url: '/api/twitter/' + $twitterHandle.val()
      })
      .done(function(data){
        // console.log(data)
        // var compiledTweet = ""
        for (i=0; i<data.length; i++){
          compiledTweet += data[i].text
          compiledTweet += " "
        }
    console.log("Ajax call to the Watson API.")
    $
      .ajax({
        method: 'post',
        url: '/api/watson/',
        data: JSON.stringify({ text: compiledTweet }),
        contentType: "application/json"
      })
      .done(function(data){
        hideLoading()
        // console.log(data)
        $result.html("") //empty the result div
        visualizeBig5Data(data)
        visualizeValuesData(data)
        visualizeNeedsData(data)
        $
        $fullTweets.show()
        $fullData.show()
        $fullTweets.on('click', function(){
          if($tweetResult.text() === "") {
            console.log(compiledTweet)
            $tweetResult.text(compiledTweet)
            $fullTweets.text("Close Tweet Data")
          }
          else if ($fullTweets.text() === "Close Tweet Data") {
            $tweetResult.text("")
            $fullTweets.text("Display Tweet Data")
          }
        })
        $fullData.on('click', function(){
          if(!($result.text())) {
            console.log(data)
            displayAnalysis(data)
            $fullData.text("Close Complete Profile Data")
          }
          else {
            $result.text("")
            $fullData.text("Display Complete Profile Data")
          }
        })
      })
        // $result.text(compiledTweet)
      })
  })
/////Analyze Tweet button END /////////


//***************D3js data visualization******************//

////////////////////////
/// BIG5DATA GRAPH /////
////////////////////////
function visualizeBig5Data(data) {
  //  the data that powers the bar chart, a simple array of numeric values
  var chartdata = [
    (data.big5personality.openness * 200),
    (data.big5personality.conscientiousness * 200),
    (data.big5personality.extraversion * 200),
    (data.big5personality.agreeableness * 200),
    (data.big5personality.emotionalRange * 200)
  ];

  //  the size of the overall svg element
  var height = 360,
      width = 450,
      heightOffset = 250

  //  the width of each bar and the offset between each bar
      barWidth = 60,
      barOffset = 20;

  var colors = d3.scale.linear()
  .domain([0, chartdata.length*.33, chartdata.length*.66, chartdata.length])
  .range(['rgb(49, 119, 198)', 'rgb(32, 66, 144)', 'rgb(44, 88, 252)', 'rgb(39, 57, 150)'])

  var dynamicColor

  var big5graph = d3.select('#graph-big5')
    .append('svg')
    .attr('id', 'svgBig5Graph')
    .attr('width', width)
    .attr('height', height)
    .style('background', '#ffffff')
    .selectAll('rect').data(chartdata)
    .enter().append('rect')
      .style({'fill': function(data,i){return colors(i);}, 'stroke': 'rgba(0, 0, 0, 0.75)', 'stroke-width': '2'})
      .attr('width', barWidth)
      .attr('x', function (data, i) {
          return i * (barWidth + barOffset) + 7;
        })
      .attr('height', 0)
      .attr('y', heightOffset)
      .on('mouseover', function(data) {
          dynamicColor = this.style.fill;
          d3.select(this)
            .style('fill', '#b5f664')
      })
      .on('mouseout', function(data) {
          d3.select(this)
              .style('fill', dynamicColor)
      })
    big5graph.transition()
      .attr('height', function (data) {
          return data;
      })
      .attr('y', function (data) {
          return heightOffset - data;
      })
      .delay(function (data, i) {
          return i * 20;
      })
      .duration(2000)
      .ease('elastic');

    d3.select("#svgBig5Graph").selectAll("text")
       .data(chartdata)
       .enter()
       .append("text")
       .text(function(d) {
         return (d/200).toFixed(2);
         })
       .attr('x', function (data, i) {
           return i * (barWidth + barOffset) + 18;
         })
        .attr('y', 245)
        .attr("font-family", "sans-serif")
        .attr("font-size", "18px")
        .attr("stroke", "black")
        .attr("stroke-width", "0.5")
        .attr("fill", "white")

        d3.select("#svgBig5Graph")
           .append("text")
           .text("Big Five Personality Traits")
           .attr("text-anchor", "middle")
           .attr('x', 200)
           .attr('y', 60)
           .attr("font-family", "sans-serif")
           .attr("font-size", "22px")
           .attr("stroke", "black")
           .attr("fill", "#666464")

           d3.select("#svgBig5Graph")
              .append("text")
              .text("@" + $twitterHandle.val())
              .attr("text-anchor", "middle")
              .attr('x', 200)
              .attr('y', 30)
              .attr("font-family", "sans-serif")
              .attr("font-size", "22px")
              .attr("stroke", "black")
              .attr("fill", "#666464")

              d3.select("#svgBig5Graph")
                 .append("text")
                 .text("Openness")
                 .attr("text-anchor", "start")
                 .attr("writing-mode", "tb")
                 .attr('x', -165)
                 .attr('y', 210)
                 .attr("transform", "rotate(-45)")
                 .attr("font-family", "sans-serif")
                 .attr("font-size", "14px")
                 .attr("fill", "black")
                 .on('click', function(data) {
                     $('#modal-header').text("Openness")
                     $('#modal-paragraph').text("Openness is a general appreciation for art, emotion, adventure, unusual ideas, imagination, curiosity, and variety of experience. People who are open to experience are intellectually curious, open to emotion, sensitive to beauty and willing to try new things. They tend to be, when compared to closed people, more creative and more aware of their feelings. They are also more likely to hold unconventional beliefs.")
                     $('#modal1').openModal()
                   })


               d3.select("#svgBig5Graph")
                  .append("text")
                  .text("Conscientiousness")
                  .attr("text-anchor", "start")
                  .attr("writing-mode", "tb")
                  .attr('x', -110)
                  .attr('y', 265)
                  .attr("transform", "rotate(-45)")
                  .attr("font-family", "sans-serif")
                  .attr("font-size", "14px")
                  .attr("fill", "black")
                  .on('click', function(data) {
                      $('#modal-header').text("Conscientiousness")
                      $('#modal-paragraph').text("Conscientiousness is a tendency to show self-discipline, act dutifully, and aim for achievement against measures or outside expectations. It is related to the way in which people control, regulate, and direct their impulses.")
                      $('#modal1').openModal()
                  })

                d3.select("#svgBig5Graph")
                   .append("text")
                   .text("Extraversion")
                   .attr("text-anchor", "start")
                   .attr("writing-mode", "tb")
                   .attr('x', -55)
                   .attr('y', 320)
                   .attr("transform", "rotate(-45)")
                   .attr("font-family", "sans-serif")
                   .attr("font-size", "14px")
                   .attr("fill", "black")
                   .on('click', function(data) {
                       $('#modal-header').text("Extraversion")
                       $('#modal-paragraph').text("Extraversion is characterized by breadth of activities (as opposed to depth), surgency from external activity/situations, and energy creation from external means. The trait is marked by pronounced engagement with the external world. Extraverts enjoy interacting with people, and are often perceived as full of energy. They tend to be enthusiastic, action-oriented individuals. They possess high group visibility, like to talk, and assert themselves.")
                       $('#modal1').openModal()
                   })


                 d3.select("#svgBig5Graph")
                    .append("text")
                    .text("Agreeableness")
                    .attr("text-anchor", "start")
                    .attr("writing-mode", "tb")
                    .attr('x', 7)
                    .attr('y', 377)
                    .attr("transform", "rotate(-45)")
                    .attr("font-family", "sans-serif")
                    .attr("font-size", "14px")
                    .attr("fill", "black")
                    .on('click', function(data) {
                        $('#modal-header').text("Agreeableness")
                        $('#modal-paragraph').text("The agreeableness trait reflects individual differences in general concern for social harmony. Agreeable individuals value getting along with others. They are generally considerate, kind, generous, trusting and trustworthy, helpful, and willing to compromise their interests with others. Agreeable people also have an optimistic view of human nature.  Disagreeable individuals place self-interest above getting along with others. They are generally unconcerned with others' well-being, and are less likely to extend themselves for other people. Sometimes their skepticism about others' motives causes them to be suspicious, unfriendly, and uncooperative.")
                        $('#modal1').openModal()
                    })


                  d3.select("#svgBig5Graph")
                     .append("text")
                     .text("Emotional Range")
                     .attr("text-anchor", "start")
                     .attr("writing-mode", "tb")
                     .attr('x', 60)
                     .attr('y', 435)
                     .attr("transform", "rotate(-45)")
                     .attr("font-family", "sans-serif")
                     .attr("font-size", "14px")
                     .attr("fill", "black")
                     .on('click', function(data) {
                         $('#modal-header').text("Emotional Range")
                         $('#modal-paragraph').text("Emotional range (i.e., neuroticism) is the tendency to experience negative emotions, such as anger, anxiety, or depression. It is sometimes called emotional instability, or is reversed and referred to as emotional stability. Those who score high in neuroticism are emotionally reactive and vulnerable to stress. They are more likely to interpret ordinary situations as threatening, and minor frustrations as hopelessly difficult.")
                         $('#modal1').openModal()
                     })


}

/////////////////////
//  VALUES GRAPH ////
/////////////////////
function visualizeValuesData(data) {
  //  the data that powers the bar chart, a simple array of numeric values
  var chartdata = [
    (data.values.conservation * 200),
    (data.values.opennessToChange * 200),
    (data.values.hedonism * 200),
    (data.values.selfEnhancement * 200),
    (data.values.selfTranscendence * 200)
  ];

  //  the size of the overall svg element
  var height = 380,
      width = 450,
      heightOffset = 250

  //  the width of each bar and the offset between each bar
      barWidth = 60,
      barOffset = 20;

  var colors = d3.scale.linear()
  .domain([0, chartdata.length*.33, chartdata.length*.66, chartdata.length])
  .range(['rgb(49, 119, 198)', 'rgb(32, 66, 144)', 'rgb(44, 88, 252)', 'rgb(39, 57, 150)'])

  var dynamicColor

  var valuesGraph = d3.select('#graph-values')
    .append('svg')
    .attr('id', 'svgValuesGraph')
    .attr('width', width)
    .attr('height', height)
    .style('background', '#ffffff')
    .selectAll('rect').data(chartdata)
    .enter().append('rect')
      .style({'fill': function(data,i){return colors(i);}, 'stroke': 'rgba(0, 0, 0, 0.75)', 'stroke-width': '2'})
      .attr('width', barWidth)
      .attr('x', function (data, i) {
          return i * (barWidth + barOffset) + 7;
        })
      .attr('height', 0)
      .attr('y', heightOffset)
      .on('mouseover', function(data) {
          dynamicColor = this.style.fill;
          d3.select(this)
            .style('fill', '#b5f664')
      })
      .on('mouseout', function(data) {
          d3.select(this)
              .style('fill', dynamicColor)
      })
    valuesGraph.transition()
      .attr('height', function (data) {
          return data;
      })
      .attr('y', function (data) {
          return heightOffset - data;
      })
      .delay(function (data, i) {
          return i * 20;
      })
      .duration(2000)
      .ease('elastic');

    d3.select("#svgValuesGraph").selectAll("text")
       .data(chartdata)
       .enter()
       .append("text")
       .text(function(d) {
         return (d/200).toFixed(2);
         })
       .attr('x', function (data, i) {
           return i * (barWidth + barOffset) + 18;
         })
        .attr('y', 245)
        .attr("font-family", "sans-serif")
        .attr("font-size", "18px")
        .attr("stroke", "black")
        .attr("stroke-width", "0.5")
        .attr("fill", "white")

        d3.select("#svgValuesGraph")
           .append("text")
           .text("Values")
           .attr("text-anchor", "middle")
           .attr('x', 200)
           .attr('y', 60)
           .attr("font-family", "sans-serif")
           .attr("font-size", "22px")
           .attr("stroke", "black")
           .attr("fill", "#666464")

           d3.select("#svgValuesGraph")
              .append("text")
              .text("@" + $twitterHandle.val())
              .attr("text-anchor", "middle")
              .attr('x', 200)
              .attr('y', 30)
              .attr("font-family", "sans-serif")
              .attr("font-size", "22px")
              .attr("stroke", "black")
              .attr("fill", "#666464")

              d3.select("#svgValuesGraph")
                 .append("text")
                 .text("Conservation")
                 .attr("text-anchor", "start")
                 .attr("writing-mode", "tb")
                 .attr('x', -165)
                 .attr('y', 210)
                 .attr("transform", "rotate(-45)")
                 .attr("font-family", "sans-serif")
                 .attr("font-size", "14px")
                 .attr("fill", "black")
                 .on('click', function(data) {
                     $('#modal-header').text("Conservation")
                     $('#modal-paragraph').text("Conservation consists of several subsets of basic values.  These include security, which is associated with safety, harmony, and stability of society, of relationships, and of self.  Conformity is another aspect of conservation, which involves restraint of actions, inclinations, and impulses likely to upset or harm others and violate social expectations or norms. Finally, tradition is another facet of conservation that centers on respect, commitment, and acceptance of the customs and ideas that one's culture or religion provides.")
                     $('#modal1').openModal()
                   })

               d3.select("#svgValuesGraph")
                  .append("text")
                  .text("Openness To Change")
                  .attr("text-anchor", "start")
                  .attr("writing-mode", "tb")
                  .attr('x', -110)
                  .attr('y', 265)
                  .attr("transform", "rotate(-45)")
                  .attr("font-family", "sans-serif")
                  .attr("font-size", "14px")
                  .attr("fill", "black")
                  .on('click', function(data) {
                      $('#modal-header').text("Openness To Change")
                      $('#modal-paragraph').text("Openness to change can be broken down into (1) Self-Direction: independent thought and action-choosing, creating, exploring; and (2) Stimulation: excitement, novelty, and challenge in life.")
                      $('#modal1').openModal()
                  })

                d3.select("#svgValuesGraph")
                   .append("text")
                   .text("Hedonism")
                   .attr("text-anchor", "start")
                   .attr("writing-mode", "tb")
                   .attr('x', -55)
                   .attr('y', 320)
                   .attr("transform", "rotate(-45)")
                   .attr("font-family", "sans-serif")
                   .attr("font-size", "14px")
                   .attr("fill", "black")
                   .on('click', function(data) {
                       $('#modal-header').text("Hedonism")
                       $('#modal-paragraph').text("Hedonism centers on pleasure or sensuous gratification for oneself.")
                       $('#modal1').openModal()
                   })

                 d3.select("#svgValuesGraph")
                    .append("text")
                    .text("Self Enhancement")
                    .attr("text-anchor", "start")
                    .attr("writing-mode", "tb")
                    .attr('x', 7)
                    .attr('y', 377)
                    .attr("transform", "rotate(-45)")
                    .attr("font-family", "sans-serif")
                    .attr("font-size", "14px")
                    .attr("fill", "black")
                    .on('click', function(data) {
                        $('#modal-header').text("Self Enhancement")
                        $('#modal-paragraph').text("Self-enhancement involves aspects such as (1) Achievement: personal success through demonstrating competence according to social standards; and (2) Power: social status and presitge, control or dominance over people and resources.")
                        $('#modal1').openModal()
                    })

                  d3.select("#svgValuesGraph")
                     .append("text")
                     .text("Self Transcendence")
                     .attr("text-anchor", "start")
                     .attr("writing-mode", "tb")
                     .attr('x', 60)
                     .attr('y', 435)
                     .attr("transform", "rotate(-45)")
                     .attr("font-family", "sans-serif")
                     .attr("font-size", "14px")
                     .attr("fill", "black")
                     .on('click', function(data) {
                         $('#modal-header').text("Self Transcendence")
                         $('#modal-paragraph').text("Self-transcendence focuses on (1) Benevolence: preserving and enhancing the welfare of those with whom one is in frequent personal contact; and (2) Universalism: understanding, appreciation, tolerance, and protection for the welfare of all people and for nature.")
                         $('#modal1').openModal()
                     })
}

/////////////////////
//  NEEDS GRAPH ////
/////////////////////


function visualizeNeedsData(data) {
  //  the data that powers the bar chart, a simple array of numeric values
  var chartdata = [
    (data.needs.challenge * 200),
    (data.needs.closeness * 200),
    (data.needs.curiosity * 200),
    (data.needs.excitement * 200),
    (data.needs.harmony * 200),
    (data.needs.ideal * 200),
    (data.needs.liberty * 200),
    (data.needs.love * 200),
    (data.needs.practicality * 200),
    (data.needs.selfExpression * 200),
    (data.needs.stability * 200),
    (data.needs.structure * 200)
  ];

  //  the size of the overall svg element
  var height = 380,
      width = 1000,
      heightOffset = 250

  //  the width of each bar and the offset between each bar
      barWidth = 60,
      barOffset = 20;

  var colors = d3.scale.linear()
  .domain([0, chartdata.length*.33, chartdata.length*.66, chartdata.length])
  .range(['rgb(49, 119, 198)', 'rgb(32, 66, 144)', 'rgb(44, 88, 252)', 'rgb(39, 57, 150)'])

  var dynamicColor

  var needsGraph = d3.select('#graph-needs')
    .append('svg')
    .attr('id', 'svgNeedsGraph')
    .attr('width', width)
    .attr('height', height)
    .style('background', '#ffffff')
    .selectAll('rect').data(chartdata)
    .enter().append('rect')
      .style({'fill': function(data,i){return colors(i);}, 'stroke': 'rgba(0, 0, 0, 0.75)', 'stroke-width': '2'})
      .attr('width', barWidth)
      .attr('x', function (data, i) {
          return i * (barWidth + barOffset) + 7;
        })
      .attr('height', 0)
      .attr('y', heightOffset)
      .on('mouseover', function(data) {
          dynamicColor = this.style.fill;
          d3.select(this)
            .style('fill', '#b5f664')
      })
      .on('mouseout', function(data) {
          d3.select(this)
              .style('fill', dynamicColor)
      })
    needsGraph.transition()
      .attr('height', function (data) {
          return data;
      })
      .attr('y', function (data) {
          return heightOffset - data;
      })
      .delay(function (data, i) {
          return i * 20;
      })
      .duration(2000)
      .ease('elastic');

    d3.select("#svgNeedsGraph").selectAll("text")
       .data(chartdata)
       .enter()
       .append("text")
       .text(function(d) {
         return (d/200).toFixed(2);
         })
       .attr('x', function (data, i) {
           return i * (barWidth + barOffset) + 18;
         })
        .attr('y', 245)
        .attr("font-family", "sans-serif")
        .attr("font-size", "18px")
        .attr("stroke", "black")
        .attr("stroke-width", "0.5")
        .attr("fill", "white")

        d3.select("#svgNeedsGraph")
           .append("text")
           .text("Needs")
           .attr("text-anchor", "middle")
           .attr('x', 450)
           .attr('y', 60)
           .attr("font-family", "sans-serif")
           .attr("font-size", "22px")
           .attr("stroke", "black")
           .attr("fill", "#666464")

           d3.select("#svgNeedsGraph")
              .append("text")
              .text("@" + $twitterHandle.val())
              .attr("text-anchor", "middle")
              .attr('x', 450)
              .attr('y', 30)
              .attr("font-family", "sans-serif")
              .attr("font-size", "22px")
              .attr("stroke", "black")
              .attr("fill", "#666464")

              d3.select("#svgNeedsGraph")
                 .append("text")
                 .text("Challenge")
                 .attr("text-anchor", "start")
                 .attr("writing-mode", "tb")
                 .attr('x', -165)
                 .attr('y', 210)
                 .attr("transform", "rotate(-45)")
                 .attr("font-family", "sans-serif")
                 .attr("font-size", "14px")
                 .attr("fill", "black")

               d3.select("#svgNeedsGraph")
                  .append("text")
                  .text("Closeness")
                  .attr("text-anchor", "start")
                  .attr("writing-mode", "tb")
                  .attr('x', -110)
                  .attr('y', 265)
                  .attr("transform", "rotate(-45)")
                  .attr("font-family", "sans-serif")
                  .attr("font-size", "14px")
                  .attr("fill", "black")

                d3.select("#svgNeedsGraph")
                   .append("text")
                   .text("Curiosity")
                   .attr("text-anchor", "start")
                   .attr("writing-mode", "tb")
                   .attr('x', -55)
                   .attr('y', 320)
                   .attr("transform", "rotate(-45)")
                   .attr("font-family", "sans-serif")
                   .attr("font-size", "14px")
                   .attr("fill", "black")

                 d3.select("#svgNeedsGraph")
                    .append("text")
                    .text("Excitement")
                    .attr("text-anchor", "start")
                    .attr("writing-mode", "tb")
                    .attr('x', 7)
                    .attr('y', 377)
                    .attr("transform", "rotate(-45)")
                    .attr("font-family", "sans-serif")
                    .attr("font-size", "14px")
                    .attr("fill", "black")

                  d3.select("#svgNeedsGraph")
                     .append("text")
                     .text("Harmony")
                     .attr("text-anchor", "start")
                     .attr("writing-mode", "tb")
                     .attr('x', 60)
                     .attr('y', 435)
                     .attr("transform", "rotate(-45)")
                     .attr("font-family", "sans-serif")
                     .attr("font-size", "14px")
                     .attr("fill", "black")

                   d3.select("#svgNeedsGraph")
                      .append("text")
                      .text("Ideal")
                      .attr("text-anchor", "start")
                      .attr("writing-mode", "tb")
                      .attr('x', 435)
                      .attr('y', 265)
                      .attr("transform", "rotate(-45, 435, 265)")
                      .attr("font-family", "sans-serif")
                      .attr("font-size", "14px")
                      .attr("fill", "black")

                      d3.select("#svgNeedsGraph")
                         .append("text")
                         .text("Liberty")
                         .attr("text-anchor", "start")
                         .attr("writing-mode", "tb")
                         .attr('x', 435+80)
                         .attr('y', 265)
                         .attr("transform", "rotate(-45, 515, 265)")
                         .attr("font-family", "sans-serif")
                         .attr("font-size", "14px")
                         .attr("fill", "black")

                       d3.select("#svgNeedsGraph")
                          .append("text")
                          .text("Love")
                          .attr("text-anchor", "start")
                          .attr("writing-mode", "tb")
                          .attr('x', 435+160)
                          .attr('y', 265)
                          .attr("transform", "rotate(-45, 595, 265)")
                          .attr("font-family", "sans-serif")
                          .attr("font-size", "14px")
                          .attr("fill", "black")

                        d3.select("#svgNeedsGraph")
                           .append("text")
                           .text("Practicality")
                           .attr("text-anchor", "start")
                           .attr("writing-mode", "tb")
                           .attr('x', 435+240)
                           .attr('y', 265)
                           .attr("transform", "rotate(-45, 675, 265)")
                           .attr("font-family", "sans-serif")
                           .attr("font-size", "14px")
                           .attr("fill", "black")

                         d3.select("#svgNeedsGraph")
                            .append("text")
                            .text("Self Expression")
                            .attr("text-anchor", "start")
                            .attr("writing-mode", "tb")
                            .attr('x', 515+240)
                            .attr('y', 265)
                            .attr("transform", "rotate(-45, 755, 265)")
                            .attr("font-family", "sans-serif")
                            .attr("font-size", "14px")
                            .attr("fill", "black")

                          d3.select("#svgNeedsGraph")
                             .append("text")
                             .text("Stability")
                             .attr("text-anchor", "start")
                             .attr("writing-mode", "tb")
                             .attr('x', 595+240)
                             .attr('y', 265)
                             .attr("transform", "rotate(-45, 835, 265)")
                             .attr("font-family", "sans-serif")
                             .attr("font-size", "14px")
                             .attr("fill", "black")

                         d3.select("#svgNeedsGraph")
                            .append("text")
                            .text("Structure")
                            .attr("text-anchor", "start")
                            .attr("writing-mode", "tb")
                            .attr('x', 675+240)
                            .attr('y', 265)
                            .attr("transform", "rotate(-45, 915, 265)")
                            .attr("font-family", "sans-serif")
                            .attr("font-size", "14px")
                            .attr("fill", "black")


}


//****************END D3js DATA VISUALIZATION**********************//

</script>
