
<h2 color='white' align="center">Welcome to Watson's Couch</h1>

<div class="parallax-container">
  <div class="parallax"><img src="images/Watson_landscape3.jpg"></div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">What is Watson's Couch?</h2>
      <p class="grey-text text-darken-3 lighten-3">is an app that
        provides Personality analysis through collection of text
        we gathered from Twitter Tweets. Simply sign up, input
        the twitter handle in our Analyses Link to reveal the
         Traits of the person you're following.
      </p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="images/Watson-brains.png"></div>
</div>

<!-- Section of examples of the analyses -->
<div class="section white">
  <div class="row container">
    <h2 class="header">What would the analysis look like?</h2>
      <p class="grey-text text-darken-3 lighten-3">We have a few examples here. Justin Bieber on the left and Lady Gaga on the right.
        Can you guess who's Personality Traits the middle one belongs to?</p>
  </div>
</div>

<!-- First row of the Cards -->
<div class="row">
  <!-- First row First card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/justinbieber_320x456.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Example 1<i class="material-icons right">list</i></span>
          <p><a href="/">Home</a></p>
      </div>
      <div class="card-reveal">
        <div class="card-image waves-effect waves-block waves-light">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <img src="images/justinbieberPT.png">
          <p align="right">Justin Bieber's PT. For more detail traits of the Big 5
            Personalities, please sign up or login.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- First row Second card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/hillaryclintonPT.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Example 2<i class="material-icons right">list</i></span>
          <p><a href="/">Home</a></p>
      </div>

      <div class="card-reveal">
        <div class="card-image waves-effect waves-block waves-light">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <img src="images/hillaryclinton_320x456.jpg">
        <p align="right">Hillary Clinton PT.  For more detail traits of the Big 5
          Personalities, please sign up or login.</p>
      </div>
      </div>
    </div>
  </div>
  <!-- First row Third card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/ladygaga_320x456.jpg">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Example 3<i class="material-icons right">list</i></span>
          <p><a href="/">Home</a></p>
      </div>

      <div class="card-reveal">
        <div class="card-image waves-effect waves-block waves-light">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <img src="images/ladygagaPT.png">
          <p align="right">Lady Gaga PT.  For more detail traits of the Big 5
            Personalities, please sign up or login.</p>
      </div>
    </div>
  </div>
<!-- End of First row of cards -->
</div>

<!-- Section of Technologies and Us -->
<div class="section white">
  <div class="row container">
    <h2 class="header">Which APIs were employed? And who we are.</h2>
      <p class="grey-text text-darken-3 lighten-3">Our text input came from Twitter's API
        and the analysis came from IBM Watson's API. Various technologies were used to
          make this app works. And we think it's cool! Check it out for yourself.
        </p>
  </div>
</div>

<!-- Second row of the Cards -->
<div class="row">
  <!-- Second row First card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/watson_sm_white.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Watson API<i class="material-icons right">list</i></span>
          <p><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights/api/v2/">Watson API</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Watson API<i class="material-icons right">close</i></span>
          <p>The link provides you the API documentation of Watson's Personality Insights.</p>
      </div>
    </div>
  </div>
  <!-- Second row Second card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/Twitter_blue_med.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Twitter API<i class="material-icons right">list</i></span>
          <p><a href="https://dev.twitter.com/overview/documentation">Twitter API</a></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Twitter API<i class="material-icons right">close</i></span>
          <p>The link provides you the API documentation of Twitter.</p>
      </div>
    </div>
  </div>
  <!-- Second row Third card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/GA-cover.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">About us<i class="material-icons right">list</i></span>
          <p><a href="https://generalassemb.ly/education/web-development-immersive">Our Course</a></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">About us<i class="material-icons right">close</i></span>
          <p>Our team members are: Andrew Wasicek, Bryan Castanos, and Dona Hsieh.
          We are all students of General Assembly's Web Development Immersive Class.
          Our instructors are: Philippe Luchansky, Jimmy Garzon, and Barry Ross.</p>
      </div>
    </div>
  </div>
<!-- End of Second row of cards -->
</div>
