<div class="row">
  <div class="col s10">
    <div class="page-header">
      <h2 style:"text-align:center">The analyses of <%= user.local.name || user.twitter.name %> </h2>
    </div>
  </div>
</div>
